h1 {
    text-align:center;
    width:170px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0%;
    margin-bottom:0%;
    border-style: solid;
    border-radius: 5px;
    color:#CC2222;
    background-color: #FFAAAA;
}
h2{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:0%;
    color:#BB1111;
}
body{
    text-align:center;
    background-image: linear-gradient(to bottom, #FFFFFF, #FF5555);
    margin-bottom:0;
    padding-bottom:3%;
}
html{
    height:auto;
}
p{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:5px;
    width:225px;
    background-color:#FFFFFF;
    padding: 25px;
    border: 2px solid #FF8888;
    border-radius: 40px;
    font-family: cursive;
    font-size: 20;
    color:#DD3333;
}
ul {
    text-align:left;
    margin-left:20%;
    margin-right:auto;
}
li {
    list-style-type: "\1F338";
    margin-bottom:0;
}
h3{
    margin:0%;
    text-emphasis: italic;
    color:#FF0022;
}
footer{
    color:#111175;
    position:relative;
    bottom:0;
    width:300px;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:0;
}
a{
    color:#000066;
}

button {
    font: 'Arial', sans-serif;
}
#SCB {
    background-color:pink;
}
#SAS {
    background-color:skyblue;
}
#SWiW {
    background-color:rgb(4, 175, 4);
}